<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/style.css">
  </head>

  <body>
    <div class="wrap d-flex">
      <div class="aside bg-light d-flex flex-column justify-content-between">
        <div>
          <div class="logo p-4"><img src="assets/images/logo-ANSWER.svg" alt="Logo"></div>
          <ul class="list-unstyled fw-bold">
            <li><a class="d-block lh-lg ps-4 border-start border-success border-5" href="#"><i class="menu-icon fas fa-tachometer-alt me-3"></i>Dashboard</a></li>
            <li><a class="d-block lh-lg ps-4 border-start border-success border-5" href="#"><i class="menu-icon fas fa-comments me-3"></i>Question</a></li>
            <li><a class="d-block lh-lg ps-4 border-start border-success border-5" href="./"><i class="menu-icon fas fa-atlas me-3"></i>Assignment</a></li>
            <li><a class="d-block lh-lg ps-4 border-start border-success border-5" href="#"><i class="menu-icon fas fa-file-video me-3"></i>Course</a></li>
            <li><a class="d-block lh-lg ps-4 border-start border-success border-5" href="admin.html"><i class="menu-icon fas fa-users-cog me-3"></i>Admin</a></li>
            <li><a class="d-block lh-lg ps-4 border-start border-success border-5" href="#"><i class="menu-icon fas fa-cog me-3"></i>Settings</a></li>
          </ul>
        </div>
        <div class="user d-flex align-items-center ps-4 mb-3">
          <img class="user-avatar rounded-circle" src="assets/images/andychen.jpeg" alt="頭像">
          <div class="user-body ps-3">
            <p class="mb-sm-1 fw-bold">Andy Chen</p>
            <p class="mb-sm-1">andy0401@mail.com</p>
          </div>
        </div>
      </div>
      <div class="main p-4 w-100">
        <%- contents %>
      </div>
    </div>

    <script src="./assets/js/vendors.js"></script>
  </body>

</html>